:root {
  --color-primary-900: hsl(226, 43%, 10%);
  --color-primary-800: hsl(235, 46%, 20%);
  --color-primary-600: hsl(235, 45%, 61%);
  --color-primary-400: hsl(236, 100%, 87%);

  --color-accent-blue-300: hsl(195, 74%, 62%);
  --color-accent-blue-500: hsl(246, 80%, 60%);
  --color-accent-blue-700: hsl(264, 64%, 52%);
  --color-accent-orange: hsl(15, 100%, 70%);
  --color-accent-pink: hsl(348, 100%, 68%);
  --color-accent-green: hsl(145, 58%, 55%);
  --color-accent-yellow: hsl(43, 84%, 65%);

  --fs-body-samll: 1.5rem;
  --fs-body-medium: 1.75rem;
  --fs-heading1: 4.5rem;
  --fs-heading2: 3.5rem;
  --fs-heading3: 2.5rem;

  font-size: 62.5%;
}

/* /////////////////////
      GLOBAL
//////////////////// */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;

  background-color: var(--color-primary-900);
  color: #fff;

  width: 100vw;
  min-height: 100vh;
}

ul,
li,
a {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  padding-inline: 2rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* /////////////////////
      PROFILE CARD
//////////////////// */

.profile--card {
  background-color: var(--color-primary-800);

  border-radius: 20px;

  max-width: 350px;

  position: relative;
  overflow: hidden;
}

/*///////////////////// HEADIG */

.card__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background-color: var(--color-accent-blue-500);
  border-radius: 20px;

  padding: 3rem;
}

/*/ //////////////////// IMG */
.card__img {
  width: 8rem;

  outline: 5px solid #fff;
  border-radius: 100%;
}

/*///////////////////// NAME */

.name__title {
  font-size: var(--fs-body-medium);
  font-weight: 300;
}
.name__title h3 {
  font-weight: 300;
}

.name__title p {
  opacity: 0.7;
}

/*/ //////////////////// LINKS */

.list {
  display: flex;
  justify-content: space-evenly;

  font-size: medium;

  padding: 3rem;
}

.list__link {
  color: var(--color-primary-600);
}

.active {
  color: #fff;
}
@media (min-width: 768px) {
  .profile--card {
    grid-row: 1/-1;
  }
  .name__title {
    width: 275px;
    text-align: center;
  }
  .list {
    flex-direction: column;
  }
  .list__items {
    margin-bottom: 2rem;
  }
}

/* /////////////////////
      REPORT CARD
//////////////////// */

.report--card {
  max-width: 350px;

  border-radius: 20px;

  overflow: hidden;
}

/*////////////// BANNER */

.color--banner {
  width: 100%;
  height: 5rem;

  background-repeat: no-repeat;
  background-position: right 10px top -10px;
}

.work {
  background-color: var(--color-accent-orange);

  background-image: url(icon-work.svg);
}

.play {
  background-color: var(--color-accent-blue-300);

  background-image: url(icon-play.svg);
}

.study {
  background-color: var(--color-accent-pink);

  background-image: url(icon-study.svg);
}
.exercise {
  background-color: var(--color-accent-green);

  background-image: url(icon-exercise.svg);
}
.social {
  background-color: var(--color-accent-blue-700);

  background-image: url(icon-social.svg);
}
.self-care {
  background-color: var(--color-accent-yellow);

  background-image: url(icon-self-care.svg);
}

.report__bg {
  display: flex;
  justify-content: space-between;

  background-color: var(--color-primary-800);

  border-radius: 15px;

  position: relative;
  top: -10px;

  padding: 3.5rem 2rem;
}

.tittle__hrs h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.tittle__hrs p {
  font-size: 3rem;
  font-weight: 300;
}

.report__display {
  text-align: right;
}

.report__display p {
  margin-top: 2.5rem;

  font-size: var(--fs-body-medium);

  color: var(--color-primary-400);
  opacity: 0.7;
}

.report--card:hover {
  opacity: 0.8;
}
.list__link:hover {
  opacity: 0.7;
  color: #fff;
}
